авторизуется. JWT.
Подписки - единственная сущность, доступная на запись. Все остальные - read only (заполняем по несколько записей дата-фикстурами).
Логи - не файловые (см. stdout/stderr).
Код должен проходить линтер (phpcs)

PHP 8 + Composer 2
Фреймворк: Symfony
База данных: MariaDB
Для очередей: RabbitMQ + Messenger bundle
Для тестирования: phpunit, но можно и codeception
Для API документации - Swagger или readme.md  в проекте
Docker + docker-compose для контейнеризации
Кодовая база должна размещаться на GitHub
